.navbar {
  color: $navbar-color;
  background: $navbar-background;
  padding: 0.1em;
  @include border-radius(4px, 4px);
  font-size: 120%;

  .flexbox {
    justify-content: space-between;
    align-items: center;
  }

  .logo img {
    height: 2em;
    margin: 0 0.5em;
    opacity: 0.5; /* until connected */
    transition: opacity 1s ease;
  }

  .login_box {
    padding-top: 0.1em;
    padding-right: 0.1em;
    text-align: center;
    input { width: 15em; }
    input, button {
      font-size: 90%;
    }
  }

  .hamburger:hover {
    background-color: tint($navbar-background, 30);
  }

  .userarea {
    .menurow {
      display: flex;
    }
    margin-right: 1em;

    .username {
      color: #bbb;
      padding: 0.5em 0.2em;
    }

    .menu-triangle {
    }

    .menu {
      position: absolute;
      padding: 0.5em 0.2em;
      opacity: 1;
      background-color: #111;
      z-index: 1001; // over leaflet controls

      li {
        padding: 0.2em;
      }
    }
  }

  .hamburger {
    padding-top: 1px;
    padding-right: 2px;
    width: 1em;
  }

}
