.navbar {
  color: $navbar-color;
  background: $navbar-background;
  padding: 0.1em;
  @include border-radius(4px, 4px);
  font-size: 120%;

  .flexbox {
    justify-content: space-between;
    align-items: center;
  }

  .logo img {
    height: 2em;
    margin: 0 0.5em;
    opacity: 0.5; /* until connected */
    transition: opacity 1s ease;
  }

  a {
    color: $navbar-color;
    text-decoration: none;
  }

  a:hover {
    color: $navbar-color / 2;
  }

  .login_box {
    padding-top: 0.1em;
    padding-right: 0.1em;
    text-align: center;
    input { width: 15em; }
    input, button {
      font-size: 90%;
    }
  }

  .userarea:hover {
    background-color: tint($navbar-background, 30);
  }
  .userarea {
    margin-right: 1em;
    padding: 0.5em;

    .menu-triangle {
    }

    .menu {
      position: absolute;
      padding: 0.5em 0.2em;
      height: 5em;
      opacity: 1;
      background-color: #111;
      z-index: 1001; // over leaflet controls
    }
  }

  .hamburger {
    padding-right: 2px;
  }

  @media screen and (max-width: 40em) {
    .widescreen {
      display: none;
    }
    .smallscreen {
      display: flexbox;
    }
  }

}
