.navbar {
  color: $navbar-color;
  background: $navbar-background;
  padding: 0.1em;
  @include border-radius(4px, 4px);
  font-size: 120%;


  a {
    color: $navbar-color;
    text-decoration: none;

    img {
      height: 2em;
      opacity: 0.5; /* until connected */
      transition: opacity 1s ease;
    }
  }

  a:hover {
    color: $navbar-color / 2;
  }

  .login_box {
    padding-top: 0.1em;
    padding-right: 0.1em;
    input { width: 15em; }
    input, button {
      font-size: 90%;
    }
  }

  .userarea {
    margin-right: 1em;
    .logout {
      margin-left: 0.5em;
      font-size: 80%
    }
  }

  .hamburger {
  }

  .hidden {
    display: none;
  }

  @media screen and (max-width: 40em) {
    .login_box {
      display: none;
    }
    .hamburger {
      display: inline-block;
    }
  }

}
