@import "compass/reset";
@import "compass/css3";

@import "color";
@import "style";
@import "navbar";

.content {
  font: 100% Helvetica, sans-serif;
  color: $content-color;
  background: $content-background;
  clear: both;
}

.smallscreen { display: none; }
@media screen and (max-aspect-ratio: 1/1) {
  .widescreen {
    display: none;
  }
  .smallscreen {
    display: flex;
  }
}

.dark-links {
  a {
    color: $navbar-color;
    text-decoration: none;
  }

  a:hover {
    color: lighten($navbar-color, 0.7);
  }
}

.statustab {
  position: fixed;
  margin-left: 48%;
  padding: 0.2em 1em;
  color: white;
  background: #407f7f;
  font-size: 110%;
  border-radius: 0 0 0.4em 0.4em;
  top: -100px;
  transition: top 1s;
}

.footer {
  justify-content: center;
  background-color: $footer-background;
  margin: 0.5em 0;
  padding: 0.9em;
  .toe {
    color: $footer-color;
    padding: 0 0.5em;
  }
}

.inline-menu {
  li {
    display: inline-block;
  }
}

h2 {
  font-weight: bold;
}

.section-spacer{
  margin: 1em;
}

.flexbox { display: flex; }

.inline { display: inline-block; }

.hidden { display: none; }

.left { float: left; }
.right { float: right; }
.clear { clear: both; }
.label { padding-right: 0.5em}
.vertical-spacer { padding: 1em 0}
.template { display: none }
.leftindent { margin-left: 1em}
.delete_button { font-size: 85%; color: red}
.error { background: red; }
