@import "compass/reset";
@import "compass/css3";

@import "color";
@import "design";
@import "navbar";

.content {
  font: 100% Helvetica, sans-serif;
  color: $content-color;
  background: $content-background;
  clear: both;
}

.statustab {
  position: fixed;
  margin-left: 48%;
  padding: 0.2em 1em;
  color: white;
  background: #407f7f;
  font-size: 110%;
  border-radius: 0 0 0.4em 0.4em;
  top: -100px;
  transition: top 1s;
}

.inline-menu {
  li {
    display: inline-block;
  }
}

.flexbox { display: flex; }

.inline { display: inline-block; }

.hidden { display: none; }

.left { float: left; }
.right { float: right; }
.clear { clear: both; }
