@import "compass/reset";
@import "compass/css3";

@import "color";
@import "design";
@import "navbar";

.content {
  font: 100% Helvetica, sans-serif;
  color: $content-color;
  background: $content-background;
  clear: both;
}

.inline-menu {
  li {
    display: inline-block;
  }
}

.flexbox { display: flex; }

.inline { display: inline-block; }

.hidden { display: none; }


