.page-user {
  .mapdecor {
    width: 95%;
    margin: 0 auto;
    #status {
      background-color: lighten(#966C5B, 30%);
      td {
        padding-left: 1em;
      }
    }
  }

  .friends {
    font-size: 150%;
    lh { background-color: grey; }
  }
  .fences {
    font-size: 150%;
    lh { background-color: grey; }
  }

  #map {
    height: 400px;
  }

  .sidesquare {
    display: inline-block;
    vertical-align: top;
  }
}