.navbar {
  color: $navbar-color;
  background: $navbar-background;
  padding: 0.1em;
  @include border-radius(4px, 4px);

  font-size: 120%;

  img {
    width: 4%;
    vertical-align: middle;
  }

  .menu {
    a {
      color: $navbar-color;
      text-decoration: none;
    }
    a:hover {
      color: $navbar-color / 2;
    }
  }

  .farright {
    float: right;
  }

  .login_box {
    padding-top: 0.4em;
    padding-right: 0.1em;
    input, button {
      font-size: 90%;
    }
  }

  .hamburger {
    display: none;
  }

  @media screen and (max-width: 600px) {
    .login_box {
      display: none;
    }
    .hamburger {
      display: inline-block;
    }
  }

}
