div.navbar.dark-links
  div.flexbox
    div.flexbox
      a.logo.inline(href="/")
        img(src="/assets/logo.svg")
      div.inline
        a.logo.inline(href="/")
          | IceCondor

      ul.inline-menu.inline#navmenu

    div.flexbox
      div.userarea.hidden
        div.username
        ul.menu.hidden
          li.map
            a(href="#") Map
          li.profile
            a(href="#") Profile
          li.access
            a(href="#") Access
          li.data
            a(href="#") Data
          li.billing
            a(href="#") Billing
          li.logout
            a(href="/") Logout

      div.smallscreen
        div.hamburger
          svg(width="30" height="30" id="icoOpen")
            path(d="M0,5 30,5" stroke="#fff" stroke-width="5")
            path(d="M0,14 30,14" stroke="#fff" stroke-width="5")
            path(d="M0,23 30,23" stroke="#fff" stroke-width="5")

      div.widescreen
        div.login_box.inline
          form.token_email
            input#login(type="email" placeholder="email address" name="email")
            button(type="submit") Sign in

script.
  $(function(){
    $('.token_email').submit(function(evt){
      emailTokenRequest(evt.target)
      evt.preventDefault()
    })
    $('.hamburger').click(function(evt){
      showLogin()
    })
    $('.menu .logout').click(function(evt){
      clearKey()
      window.location = "/"
    })
    if(getKey()) {
      $('.login_box').addClass('hidden')
      $('.hamburger').addClass('hidden')
      $('.userarea').removeClass('hidden')
    }
    $('.navbar .userarea .username').click(function(evt){
      $('.navbar .userarea .menu').toggleClass('hidden')
      evt.preventDefault()
    })
  })

  function showLogin(){
    $('.hamburger').addClass('hidden')
    $('.widescreen').css('display', 'block')
    $('.navbar .flexbox').css('display', 'block')
    $('.login_box').css('display', 'flexbox')
  }

