extends layout

block head

block content
  div.page-access
    h2 Access Control

    form.build-access
      | Read
      input(type='checkbox' checked='checked')
      input(type='submit' value='Grant Access')

    h1 Keylist
    ul.keylist

  script.
    var qparams = url_params(window.location.href)
    var paths = window.location.pathname.split('/')
    jQuery(function(){
      statusTab('Connecting')
      iceCondor.on('auth', function(session){
        console.log(session.user.username, paths[1] )
        if(session.user.username != paths[1]){
          statusTab('no access')
          if(session.user.username) {
            window.location = '/'+session.user.username+'/access'
          } else {
            window.location = '/'
          }
        }
        statusTab('loading data')
        keylist_refresh()

        $('.build-access').submit(function(evt){
          console.log(evt.target)

          var add_tx = iceCondor.api('user.access.add')
          iceCondor.onResponse(add_tx, function(acc_ok) {
            keylist_refresh()
          })
          evt.preventDefault()
        })
      })

      if(getKey()){
        iceCondor.connect()
      } else {
        window.location = "/"
      }

      function keylist_refresh() {
        var me_tx = iceCondor.api('user.detail')
        iceCondor.onResponse(me_tx, function(me) {
          console.log(me)
          statusTab()
          Object.keys(me.access).forEach(function(akey){
            var me_url = 'https://icecondor.com/'+me.username+'?key='+akey
            var keylink = '<a href="'+me_url+'">'+me_url+'</a>'
            $('.keylist').append('<li>'+keylink+' Access: '+me.access[akey].scopes+'</li>')
          })
        })

      }
    })