extends layout

block head

block content
  div.page-access
    h2 Access Control

    h1 Keylist
    ul.keylist

    h1 Generate Key
    form.build-access
      .keygensection
        | Access Type
        .keygendetail
          | Read Location
          input(type='checkbox' name='read' checked='checked' disabled)
      .keygensection
        input(type='checkbox' name='expires' disabled)
        | Expires in
        .keygendetail
          | Hours
          input(type='number' name='expires-hours' value='8' disabled)
      input(type='submit' value='Generate Key' disabled)


  script.
    var qparams = url_params(window.location.href)
    var paths = window.location.pathname.split('/')
    jQuery(function(){
      statusTab('Connecting')
      iceCondor.on('auth', function(session){
        console.log(session.user.username, paths[1] )
        if(session.user.username != paths[1]){
          statusTab('no access')
          if(session.user.username) {
            window.location = '/'+session.user.username+'/access'
          } else {
            window.location = '/'
          }
        }
        statusTab('loading data')
        keylist_refresh()
        enable_gen_form()

        $('.build-access').submit(function(evt){
          var rule = { scopes: [] }
          if(evt.target.elements['read'].checked){
            rule.scopes.push('read')
          }
          if(evt.target.elements['expires'].checked){
            var hours = evt.target.elements['expires-hours'].value
            rule.expires_at = (new XDate()).addHours(hours)
          }
          console.log(rule)

          var add_tx = iceCondor.api('user.access.add', rule)
          iceCondor.onResponse(add_tx, function(acc_ok) {
            keylist_refresh()
          })
          evt.preventDefault()
        })
      })

      if(getKey()){
        iceCondor.connect()
      } else {
        window.location = "/"
      }

      function keylist_refresh() {
        var me_tx = iceCondor.api('user.detail')
        iceCondor.onResponse(me_tx, function(me) {
          statusTab()
          $('.keylist').empty()
          Object.keys(me.access).forEach(function(akey){
            var key_html = keydetail(me.username, akey, me.access[akey])
            var key_li = $('.keylist').append(key_html)
            $('li#key-'+akey+' button').click(function(evt){
                console.log(evt)
                var add_tx = iceCondor.api('user.access.del', {key: akey})
                iceCondor.onResponse(add_tx, function(acc_ok) {
                  keylist_refresh()
                })
              })
          })
          time_fixups('ul.keylist')
        })
      }

      function keydetail(username, key, rule){
        //template here
        console.log(rule)
        var me_url = 'https://icecondor.com/'+username+'?key='+key
        var link = '<a href="'+me_url+'">'+me_url+'</a>'
        var expires = rule.expires_at ? '<time datetime="'+rule.expires_at+'" data-format="MMM-d hh:mmtt">' : "never"
        var t = ' Access: '+ rule.scopes
        var expired_style = ""
        if(rule.expires_at && (new Date(rule.expires_at)) < (new Date()) ) {
          expired_style = 'overdue'
        }
        t = t +" Expires: <span class='"+expired_style+"'>"+expires+"</span>"
        t = t + "<button title='delete'>X</button>"
        return '<li class="key" id="key-'+key+'">'+
                '<div>'+t+'</div>'+
                '<div class="keylink">'+link+'</div>'+
               '</li>'
      }
      function enable_gen_form(){
        $('form.build-access input').prop('disabled', false)
      }
    })
