extends layout

block head

block content
  div.page-access
    h2 Access Control

    form.build-access
      | Read
      input(type='checkbox' checked='checked')
      input(type='submit' value='Grant Access')

    h1 Keylist
    ul.keylist

  script.
    jQuery(function(){
      statusTab('Connecting')
      iceCondor.on('auth', function(user){
        statusTab('loading data')
        console.log(user)

        $('.build-access').submit(function(evt){
          console.log(evt.target)

          var add_tx = iceCondor.api('user.access.add')
          iceCondor.onResponse(add_tx, function(acc_ok) {
            console.log(acc_ok)
            var me_tx = iceCondor.api('user.detail')
            iceCondor.onResponse(me_tx, function(me) {
              keylist(me.access)
            })
          })

          evt.preventDefault()
        })

        var me_tx = iceCondor.api('user.detail')
        iceCondor.onResponse(me_tx, function(me) {
          console.log(me)
          statusTab()
          keylist(me.access)
        })

      })

      if(getKey()){
        iceCondor.connect()
      } else {
        window.location = "/"
      }

      function keylist(klist) {
        Object.keys(klist).forEach(function(akey){
          var keylink = '<a href="https://icecondor.com/auth/'+akey+'">'+akey+'</a>'
          $('.keylist').append('<li>'+keylink+' '+klist[akey].scopes+'</li>')
        })
      }
    })