extends layout

block head

block content
  div.page-access
    h2 Access Control

    h1 Keylist
    ul.keylist

    h1 Generate Key
    form.build-access
      .keygensection
        | Access Type
        .keygendetail
          | Read
          input(type='checkbox' checked='checked')
      .keygensection.hidden
        input(type='checkbox')
        | Expires in (optional)
        .keygendetail
          | Hours
          input(type='number' value='24')
      input(type='submit' value='Generate Key')


  script.
    var qparams = url_params(window.location.href)
    var paths = window.location.pathname.split('/')
    jQuery(function(){
      statusTab('Connecting')
      iceCondor.on('auth', function(session){
        console.log(session.user.username, paths[1] )
        if(session.user.username != paths[1]){
          statusTab('no access')
          if(session.user.username) {
            window.location = '/'+session.user.username+'/access'
          } else {
            window.location = '/'
          }
        }
        statusTab('loading data')
        keylist_refresh()

        $('.build-access').submit(function(evt){
          console.log(evt.target)

          var add_tx = iceCondor.api('user.access.add')
          iceCondor.onResponse(add_tx, function(acc_ok) {
            keylist_refresh()
          })
          evt.preventDefault()
        })
      })

      if(getKey()){
        iceCondor.connect()
      } else {
        window.location = "/"
      }

      function keylist_refresh() {
        var me_tx = iceCondor.api('user.detail')
        iceCondor.onResponse(me_tx, function(me) {
          console.log(me)
          statusTab()
          Object.keys(me.access).forEach(function(akey){
            var key_html = keydetail(me.username, akey, me.access[akey])
            var key_li = $('.keylist').append(key_html)
            $('li#key-'+akey+' button').click(function(evt){
                console.log(evt)
                var add_tx = iceCondor.api('user.access.del', {key: akey})
                iceCondor.onResponse(add_tx, function(acc_ok) {
                  keylist_refresh()
                })
              })
          })
        })
      }

      function keydetail(username, key, rule){
        //template here
        var me_url = 'https://icecondor.com/'+username+'?key='+key
        var link = '<a href="'+me_url+'">'+me_url+'</a>'
        var expires = rule.expires_at ? rule.expires_at : "Never"
        var t = link+' Access: '+
                   rule.scopes+
                   " Expires: "+
                   expires+
                   "<button title='delete'>X</button>"
        return '<li class="key" id="key-'+key+'">'+t+'</li>'
      }
    })
