extends layout

block head

block content
  div.page-data
    div.section-spacer
      h2 Stats
      div.user
        span.label Username:
        span.username

      div.stats.hidden
        div.day
          div.location
            | Today location count:
            = ' '
            span.count
        div.total
          | Total record count:
          = ' '
          span.count

    div.section-spacer
      h2 Datastream
      div#graph

  script.
    jQuery(function(){
      var paths = window.location.pathname.split('/')
      var username = paths[1]
      $('.page-data .user .username').html(username)

      statusTab('Connecting')
      iceCondor.on('auth', function(user){
        var me_tx = iceCondor.api('user.detail')
        iceCondor.onResponse(me_tx, function(me) {
          user_detail(me)
          if(me.username != username) {
            window.location = '/'+me.username+'/data'
          }

          statusTab('loading data')
          /*
          var data_tx = iceCondor.api('activity.stats', {type: 'location'})
          iceCondor.onResponse(data_tx, function(stats){
            statusTab('')
            stats_detail(stats)
          })
          */

          var filter = {username: username, count: 15}
          var follow_tx = iceCondor.api('stream.follow', filter)
          iceCondor.onResponse(follow_tx, function(msg){
            statusTab()
            iceCondor.onResponse(msg.stream_id, function(node){
              add_graph_node(node)
              console.log(node.type, node)
            })
          })
        })

      })

      if(getKey()){
        iceCondor.connect()
      } else {
        window.location = "/"
      }
    })

    function user_detail(me){
    }

    function stats_detail(stats){
      $('.page-data .stats .total .count').html(stats.total)
      $('.page-data .stats .day .count').html(stats.day.total)
      $('.page-data .stats .day .location .count').html(stats.day.location)
    }

    function add_graph_node(node){
      var type_code = capitaliseFirstLetter(node.type)
      var provider_code = ""

      if(node.type == "location"){
        provider_code = capitaliseFirstLetter(node.provider)
      }
      if(node.type == "config"){
        provider_code = "Turn "+node.recording
      }
      if(node.type == "heartbeat"){
        provider_code = "<div>"+node.battery.percentage +"% batt / "+
                        (node.power ? "AC on" : "AC off")+"</div>"
        if(node.memory){
          provider_code += "<div>Free: "+(node.memory.free/1024/1024).toFixed(0)+"mb"+
                           " / Total "+(node.memory.total/1024/1024).toFixed(0)+"mb</div>"
        }
      }
      var time = new XDate(node.date)
      if(node.type == "location" || node.type == "heartbeat" || node.type == "config"){
        $("#graph").prepend("<div class='report "+node.type+"'>"+
                         "<div>"+type_code+"</div>"+
                         "<div>"+provider_code+"</div>"+
                         "<div>"+time.toString("h:mmtt")+"</div>"+
                         "</div>")
      }
    }

    function capitaliseFirstLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    }

