doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src='//cdnjs.cloudflare.com/ajax/libs/bluebird/1.2.2/bluebird.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/sockjs-client/0.3.4/sockjs.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/blueimp-md5/1.0.1/js/md5.min.js')
    script(src='/assets/jquery-ui-1.11.1.custom/jquery-ui.min.js')
    script(src='/js/app.js')
    link(rel='stylesheet', href='/assets/jquery-ui-1.11.1.custom/jquery-ui.structure.min.css')
    link(rel='stylesheet', href='/assets/jquery-ui-1.11.1.custom/jquery-ui.theme.min.css')
    link(rel='stylesheet', href='/css/base.css')
    link(rel="shortcut icon" sizes="256x256" href="/assets/icon.png")
    meta(name="viewport" content="initial-scale=1")
    block head

  body
    div.statustab Loading
    include _navbar

    .content
      block content

    include _footer

    script.
      iceCondor.on('connect', function(point){
        $('.logo img').css('opacity','1.0')
      })
      iceCondor.on('disconnect', function(point){
        $('.logo img').css('opacity','0.5')
      })
      iceCondor.on('hello', function(beat){
        console.log('hello', beat)
        var key = getKey()
        if(key) {
          var auth_tx = iceCondor.auth(key)
          iceCondor.onResponse(auth_tx, function(resp){
            var user = dbGet(key)
            if(user) {
              navbar_fixup(user)
              iceCondor.emit({method: 'auth', params: {user: user}})
            } else {
              var user_detail_tx = iceCondor.api('user.detail')
              iceCondor.onResponse(user_detail_tx, function(user){
                dbSet(key, user)
                navbar_fixup(user)
                iceCondor.emit({method: 'auth', params: {user: user}})
              })
            }
          })
        } else {
          iceCondor.emit({method: 'noauth'})
        }
      })

      function navbar_fixup(user) {
        $('.navbar .username').html(user.username)
        $('.navbar .menu .map a').attr('href', "/"+user.username)
        $('.navbar .menu .profile a').attr('href', "/"+user.username+"/profile")
        $('.navbar .menu .data a').attr('href', "/"+user.username+"/data")
        $('.navbar .menu .billing a').attr('href', "/"+user.username+"/billing")
      }

    block adsense
      include _google_analytics
