extends layout

block head
  script(src='//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.js')
  link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css")

block content

  div.page-map
    div.mapdecor
      div#status
        table
          thead#header
            tr
              td Username
              td Most recent
              td Day
              td Points
          tr
            td
              a.userlink
                span.username
            td
              span#last_point
            td
              select.month(disabled='1')
              select.day(disabled='1')
            td
              span#point_count

      div#map
      div.hidden#popup-holder

  script.
    function locationBar(location) {
      var date = new XDate(location.date)
      var days = date.diffDays()
      var date_format
      if(days < 7) {
        date_format = "ddd h:mmtt"
      } else {
        date_format = "MMM-dd h:mmtt"
      }
      var point_last_html = '<time datetime='+JSON.stringify(location.date)+
                            ' data-format='+JSON.stringify(date_format)+
                            '/>'
      $('#last_point').html(point_last_html)
      time_fixups()
    }

    function locationBarPointCount(count) {
      $('#point_count').html(count)
    }

    function setBarDate(date_str) {
      $('.page-map select').removeAttr('disabled')
      var date = new XDate(date_str)
      $('.page-map select.month').val(date.getMonth())
      $('.page-map select.day').val(date.getDate())
    }

    function day_selected(evt){
      var day = new XDate()
      day.setMonth($('.page-map select.month').val())
      day.setDate($('.page-map select.day').val())
      day.setHours(0)
      day.setMinutes(0)
      var stop = new XDate(day)
      stop.addDays(1)
      map.removeTracks()
      $('#last_point').html('')
      startFollow(params.username, day, stop, 100)
    }

    function month_day_select_setup(){
      $('.page-map select').attr('disabled', true)
      [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31].forEach(function(day_idx){
        $('.page-map select.day').append('<option value=\''+day_idx+'\'>'+day_idx+'</option>')
      });
      [0,1,2,3,4,5,6,7,8,9,10,11].forEach(function(month_idx){
        var date = new XDate()
        date.setMonth(month_idx)
        $('.page-map select.month').append('<option value=\''+month_idx+'\' >'+date.toString('MMM')+'</option>')
      });
    }

    function startFollow(username, start, stop, count){
      var filter = {username: username, type: "location", count: count}
      if(start) { filter.start = start.toISOString()}
      if(stop) { filter.stop = stop.toISOString()}
      var follow_tx = iceCondor.api('stream.follow', filter)
      iceCondor.onResponse(follow_tx, function(msg){
        statusTab()
        var track = map.addTrack(msg.stream_id, username)
        locationBarPointCount("-loading-")
        var firstPoint = true
        iceCondor.onResponse(msg.stream_id, function(location){
          var date_order_idx = map.addPointToTrack(msg.stream_id, location)
          if(date_order_idx == 0) {
            locationBar(location)
          }
          locationBarPointCount(track.points.length)
          if(firstPoint) {
            setBarDate(location.date)
            firstPoint = false
          }
        })
      }, function(err) {
        if(err.code == "UNF") {
          $('#map').html("<h2>User not found.</h2>")
        }
        if(err.code == "NOACCESS") {
          $('#map').html("<h2>Location data for "+username+" is private.</h2>")
          window.setTimeout(function(){
            window.location = "/"+username+"/profile"
          }, 2000)
        }
      })
    }

    var params = {}
    jQuery(function(){
      statusTab('Connecting')
      var paths = window.location.pathname.split('/')
      var queryparts = window.location.href.split('?')[1]
      if(queryparts) {
        absorb(params, queryparts)
      }
      params.username = paths[1]

      var start, stop
      if(params.start) {
        start = new XDate(params.start)
      }
      if(params.stop) {
        stop = new XDate(params.stop)
      }

      month_day_select_setup()
      var center_of_america = [39.8, -98.5]
      map.setup(center_of_america, 3)

      $('.mapdecor .username').html(params.username)
      $('.mapdecor .userlink').attr('href', "/"+params.username+"/profile")
      iceCondor.on('heartbeat', function(beat){
        var point_date_html = '<time datetime="'+beat.date+'" data-format="yyyy-MMM-d hh:mmtt"/>'
        $('#points').append('<li> heartbeat '+point_date_html+'</li>')
      })

      $('.page-map select').change(day_selected)

      // adjust map height after status bar has been populated
      var map_height = $(window).outerHeight()-
                          $('.navbar').outerHeight()-
                          $('#status').outerHeight()-
                          $('.footer').outerHeight()-5
      $("#map").height(map_height)
      map.resize()

      var action = getKey() ? 'auth' : 'hello'
      iceCondor.on(action, function(logged_in_user){
        startFollow(params.username, start, stop, 100)
      })
      iceCondor.connect()
    })

    function absorb(hash, qstr) {
      var pieces = qstr.split('&')
      pieces.forEach(function(kv){
        kv = kv.split('=')
        hash[kv[0]] = kv[1]
      })
    }
