extends layout

block head
  script(src='/js/ui/map.js')
  script(src='/assets/geojson-utils.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.js')
  link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css")

block content

  div.page-map
    div.mapdecor
      div#status
        table
          thead#header
            tr
              td Username
              td Most recent
              td.widescreen Day
              td Points
          tr
            td
              a.userlink
                span.username
            td
              span#last_point
            td.widescreen
              select.month(disabled='1')
              select.day(disabled='1')
            td
              span#point_count

      div#map
      div.hidden#popup-holder

      div.fencelist.flexbox
        div.listhead Fences:
      template#fenceitem
        div.fenceitem(id="{{fence_id}}")
          a(href="/{{username}}/fences/{{fence_id}}") [fence]


  script.

    var params = url_params(window.location.href)
    jQuery(function(){
      statusTab('Connecting')
      var paths = window.location.pathname.split('/')
      params.username = paths[1]

      var now = new XDate()
      var follow = true
      var day_count = 100
      var day_order = 'newest'
      var start, stop
      if(params.start) {
        start = new XDate(params.start)
        if(!params.stop){
          stop = new XDate(start)
          stop.addDays(1)
        }
        follow = false
        day_count = 1000
        day_order = 'oldest'
      }
      if(params.stop) {
        stop = new XDate(params.stop)
        follow = false
        day_count = 1000
        day_order = 'oldest'
      }

      month_day_select_setup()
      var center_of_america = [[32.8, -98.5],[48.8, -99.5]]
      map.setup(center_of_america)

      $('.mapdecor .username').html(params.username)
      $('.mapdecor .userlink').attr('href', "/"+params.username+"/profile")
      iceCondor.on('heartbeat', function(beat){
        var point_date_html = '<time datetime="'+beat.date+'" data-format="yyyy-MMM-d hh:mmtt"/>'
        $('#points').append('<li> heartbeat '+point_date_html+'</li>')
      })


      // adjust map height after status bar has been populated
      var map_height = $(window).outerHeight()-
                          $('.navbar').outerHeight()-
                          $('#status').outerHeight()-
                          $('.fencelist').outerHeight()-
                          $('.footer').outerHeight()-5
      $("#map").height(map_height)
      map.resize()

      var action = getKey() ? 'auth' : 'hello'
      iceCondor.on(action, function(logged_in_user){
        var layercache = {}
        $('.page-map select').change(function(evt){day_selected(evt, layercache)})
        startFollow(params.username, start, stop, day_count, day_order, follow, layercache)
        var userinfo_tx = iceCondor.api('user.detail')
        iceCondor.onResponse(userinfo_tx, function(user){
          if(user.username == params.username) {
            if(user.latest){
              user.latest.fences.forEach(function(fence_id){
                //fenceDraw(fence_id, layercache)
              })
            }
          }
        })
      })
      iceCondor.connect()
    })
