extends layout

block head

block content
  div.page-rules
    h2 Rules

    h1 Rule List
    ul.rulelist

    template#rule.hidden
      li.rule(id="rule-{{id}}")
        p
          | Privacy Fence:
          = ' '
          a(class="fence-{{fence_id}}-url")
            span(class="fence-{{fence_id}}-name")

          button(title='delete') X

    template#fence-option.hidden
      option(value="{{id}}") {{name}}

    h1 Create Rule
    form.build-rule
      div

        h2 Select rule type
        div.leftindent
          input(type='radio', name='type', value='privacy')
          | Privacy Fence
          div
            | Obscure location while inside fence

          input(type='radio', name='type', value='alert')
          | Alert Fence
          div
            | Send an alert when anyone enters/exits the fence

        h2 Apply rule to fence
        div.leftindent
          select.fencelist(name='fence' disabled)

        h2 Make rule
        div.leftindent
          input(type='submit' value='Make rule' disabled)


  script.
    var qparams = url_params(window.location.href)
    var paths = window.location.pathname.split('/')
    jQuery(function(){
      statusTab('Connecting')
      iceCondor.on('auth', function(session){
        console.log(session.user.username, paths[1] )
        if(session.user.username != paths[1]){
          statusTab('no access')
          if(session.user.username) {
            window.location = '/'+session.user.username+'/access'
          } else {
            window.location = '/'
          }
        }
        statusTab('loading data')
        rulelist_refresh()
        enable_gen_form()

        $('.build-rule').submit(function(evt){
          evt.preventDefault()
          var fencelist = evt.target.elements['fence']
          console.log(evt.target.elements)
          var rule = { }
          console.log('fence selected', fencelist.selectedIndex)
          if(fencelist.selectedIndex >= 0){
            var fence_id = fencelist.options[fencelist.selectedIndex].value
            console.log('fence', fence_id)
            rule.fence_id = fence_id
            rule.type = evt.target.elements['type'].value
            var add_tx = iceCondor.api('rule.add', rule)
            iceCondor.onResponse(add_tx, function(acc_ok) {
              rulelist_refresh()
            })
          }
        })
      })

      if(getKey()){
        iceCondor.connect()
      } else {
        window.location = "/"
      }

      var fences_all
      function fence_load() {
        var me_tx = iceCondor.api('fence.list')
        iceCondor.onResponse(me_tx, function(fences) {
          console.log(fences.length, 'fences exist')
          var fence_tmpl = uStache.compile($('template#fence-option').html())
          $('select.fencelist').empty()
          fences.forEach(function(fence){
            $('select.fencelist').append(fence_tmpl(fence))
          })
          fences_all = fences
          $('select.fencelist').prop('disabled', false)
          fence_sweep()
        })
      }

      function fence_sweep() {
        if(fences_all) {
          fences_all.forEach(function(fence){
            console.log('#fence-'+fence.id+'-name', fence.name)
            $('.fence-'+fence.id+'-name').html(fence.name)
            $('.fence-'+fence.id+'-url').attr('href',
                           "/"+paths[1]+'/fences/'+fence.id)
          })
        }
      }

      function rulelist_refresh() {
        var me_tx = iceCondor.api('rule.list')
        iceCondor.onResponse(me_tx, function(rules) {
          statusTab()
          $('.rulelist').empty()
          rules = rules.sort(function(a,b){
                      if(a.date && b.date) {
                        if ( a.date < b.date ) { return 1 }
                        if ( a.date > b.date ) { return -1 }
                        return 0;
                      } else { return -1}
                      })
          rules.forEach(function(rule){
            var key_html = ruledetail(rule)
            var key_li = $('.rulelist').append(key_html)
            $('li#rule-'+rule.id+' button').click(function(evt){
                var add_tx = iceCondor.api('rule.del', {id: rule.id})
                iceCondor.onResponse(add_tx, function(acc_ok) {
                  rulelist_refresh()
                })
              })
          })
          time_fixups('ul.rulelist')
          fence_load()
          fence_sweep()
        })
      }

      function ruledetail(rule){
        var rule_tmpl = uStache.compile($('template#rule').html())
        return rule_tmpl(rule)
      }

      function enable_gen_form(){
        $('form.build-rule input').prop('disabled', false)
      }
    })
