extends /layout

block content
  div.page-contact-us
    | Contact us

    h2 Twitter
    div.tweetbox
      blockquote(class="twitter-tweet" lang="en")
        p
          | New IceCondor in the Google Play store. Lollypop compatibility,
          |Auto-start, GPS/Tower/Wifi control.
          a(href="https://t.co/wBCQdfa1sF") https://t.co/wBCQdfa1sF
        | &mdash; IceCondor (@icecondor)
        a(href="https://twitter.com/icecondor/status/534755335832350720") November 18, 2014

  script(async src="//platform.twitter.com/widgets.js" charset="utf-8")
