div.footer.flexbox.dark-links
  div.toe
    a(href="/b/") Blog
  div.toe
    a(href="/p/developer") Developer
  div.toe
    a(href="/p/contact-us") Contact
  div.toe
    a(href="/p/terms-of-service") Terms
