extends layout

block content

  div.page-auth
    div.validating.hidden
      | Validating token...

    div.invalid.hidden
      | Invalid token. Request a new one.

    div.askusername.hidden
      h2 Welcome to IceCondor
      p.
        Please enter a username.
      form
        input(type='text', name='username')
        input(type='submit', value='Save')

  script.
    var token = window.location.pathname.split('/')[2]
    var prefix = token.split('-')[0]
    if(prefix == "browser_key") {
      clearKey()
      setKey(token)
      iceCondor.connect()
      $('.validating').show()
      iceCondor.on("auth", function(session){
        if(session.user.username) {
          window.location = "/"
        } else {
          // missing username
          clearKey()
          $('.askusername form').submit(function(event){
            var username = event.target.elements['username'].value
            var update_tx = iceCondor.api('user.update', {username: username})
            iceCondor.onResponse(update_tx, function(resp){
              console.log(resp)
              setKey(token)
              window.location = "/"
            })
            event.preventDefault()
          })
          $('.validating').hide()
          $('.askusername').show()
        }
      })
    } else if(prefix == "device_key") {
      window.location = "icecondor://android/v2/auth?access_token="+token
    } else {
      // bad key
      $('.validating').hide()
      $('.invalid').show()
    }
