extends layout

block content

  div.
    Auth

  script.
    var token = window.location.pathname.split('/')[2]
    var prefix = token.split('-')[0]
    if(prefix == "browser_key") {
      setKey(token)
      window.location = "/"
    } else {
      window.location = "icecondor://android/v2/auth?access_token="+token
    }
