extends layout

block head
  script(src='https://checkout.stripe.com/checkout.js')

block content
  div.page-billing
    div.section-spacer
      div.user
        span.label Username:
        span.username

      div.status
        span.label Status:
        span.account

    div.section-spacer
      div.extra-pitch
        h2 Extra Account Level
        | An IceCondor Extra account adds
        ul
          li Long Term History Storage

      div.checkout.hidden
        span.label Add
        button#premium1 1 Month
        button#premium6 6 Months

  script.
    jQuery(function(){
      statusTab('Connecting')
      iceCondor.on('auth', function(user){
        var me_tx = iceCondor.api('user.detail')
        iceCondor.onResponse(me_tx, function(me) {
          statusTab('')
          stripe(me.email)
          billing_status(me)
        })
      })

      if(getKey()){
        iceCondor.connect()
      } else {
        window.location = "/"
      }
    })

    function stripe(email) {
      var handler = StripeCheckout.configure({
        key: 'pk_mDj6lh5H3J0jsTwomUiqCJ82Rdy3g',
        image: '/assets/logo.svg',
        email: email,
        token: function(token) {
          var pay_tx = iceCondor.api('user.payment', {token: token.id})
        }
      });

      document.getElementById('premium1').addEventListener('click', function(e) {
        // Open Checkout with further options
        handler.open({
          name: 'IceCondor Premium Service',
          description: '1 month non-recurring ($3.00)',
          amount: 300
        });
        e.preventDefault();
      });
      document.getElementById('premium6').addEventListener('click', function(e) {
        // Open Checkout with further options
        handler.open({
          name: 'IceCondor Premium Service',
          description: '6 months non-recurring ($15.00)',
          amount: 1500
        });
        e.preventDefault();
      });
    }

    function billing_status(user) {
      $('.page-billing .username').html(user.username)
      var account
      if(user.billing) {
        account = user.account
      } else {
        account = "Basic account"
        $('.extra-pitch').removeClass('hidden')
      }

      $('.page-billing .status .account').html(account)
      //$('.checkout').removeClass('hidden')
    }
