extends layout

block head
  script(src='https://checkout.stripe.com/checkout.js')

block content
  div.page-billing
    div.status Status

    div.checkout
      div Add
      button#premium1 1 Month
      button#premium6 6 Months

  script.
    jQuery(function(){
      iceCondor.on('auth', function(user){
        var me_tx = iceCondor.api('user.detail')
        iceCondor.onResponse(me_tx, function(me) {
          $('.status').css('background', 'red')
          console.log(me)
          stripe(me.email)
        })
      })

      if(getKey()){
        iceCondor.connect()
      } else {
        window.location = "/"
      }
    })

    function stripe(email) {
      var handler = StripeCheckout.configure({
        key: 'pk_test_6pRNASCoBOKtIshFeQd4XMUh',
        image: '/assets/logo.svg',
        email: email,
        token: function(token) {
          // Use the token to create the charge with a server-side script.
          // You can access the token ID with `token.id`
        }
      });

      document.getElementById('premium1').addEventListener('click', function(e) {
        // Open Checkout with further options
        handler.open({
          name: 'IceCondor Premium Service',
          description: '1 month non-recurring ($3.00)',
          amount: 300
        });
        e.preventDefault();
      });
      document.getElementById('premium6').addEventListener('click', function(e) {
        // Open Checkout with further options
        handler.open({
          name: 'IceCondor Premium Service',
          description: '6 months non-recurring ($15.00)',
          amount: 1500
        });
        e.preventDefault();
      });
    }
