extends layout

block content

  div.page-dashboard
    div.dashboard.hidden
      | Dashboard
      = ' '
      span.username

    div.splash.hidden
      div.banner
        | Welcome to IceCondor
      div.signin
        | Please sign in to begin.
      div.email-sent.hidden
        p
          | A login token has been sent to your email.
        p
          | Please click on the link in the email to continue.
      div.logo
        img(src="/assets/logo.svg")

  script.
    jQuery(function(){
      if(getKey()){
        iceCondor.on('auth', function(auth_user){
          window.location = "/"+auth_user.user.username
          statusTab()
          $('.dashboard').show()
          var detail_tx = iceCondor.api('user.detail')
          iceCondor.onResponse(detail_tx, function(user){
            dashboard_detail(user)
          })
        })
      } else {
        $('.splash').show()
      }
      iceCondor.on('email', function(sent){
        $('.signin').hide()
        $('.email-sent').show()
      })

      statusTab("Loading")
      iceCondor.connect()

    })

    function dashboard_detail(user) {
      $('.page-dashboard .username').html('<a href="/'+user.username+'">'+user.username+'</a>')
    }
