extends layout

block head
  script(src='//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.js')
  link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css")

block content

  div.page-map

    div.mapdecor
      div#status
        table
          thead#header
            tr
              td Username
              td Most recent
              td Points
          tr
            td
              a.userlink
                span.username
            td
              span#last_point
            td
              span#point_count
      div#map
      div.hidden#popup-holder

  script.
    function locationBar(location) {
      var date = new XDate(location.date)
      var days = date.diffDays()
      var date_format
      if(days < 7) {
        date_format = "ddd h:mmtt"
      } else {
        date_format = "MMM-dd h:mmtt"
      }
      var point_last_html = '<time datetime='+JSON.stringify(location.date)+
                            ' data-format='+JSON.stringify(date_format)+
                            '/>'
      $('#last_point').html(point_last_html)
      time_fixups()
    }

    function locationBarPointCount(count) {
      $('#point_count').html(count)
    }

    function startFollow(username, start, stop){
      console.log('startFollow', username, start, stop)
      var filter = {username: username,
                    count: 200}
      if(start) { filter.start = start.toISOString()}
      if(stop) { filter.stop = stop.toISOString()}
      var follow_tx = iceCondor.api('stream.follow', filter)
      iceCondor.onResponse(follow_tx, function(msg){
        var track = map.addTrack(msg.stream_id, username)
        locationBarPointCount("-loading-")
        iceCondor.onResponse(msg.stream_id, function(location){
          var date_order_idx = map.addPointToTrack(msg.stream_id, location)
          if(date_order_idx == 0) {
            locationBar(location)
          }
          locationBarPointCount(track.points.length)
        })
      }, function(err) {
        if(err.code == "UNF") {
          $('#map').html("<h2>User not found.</h2>")
        }
        if(err.code == "NOACCESS") {
          $('#map').html("<h2>Location data for "+username+" is private.</h2>")
          window.setTimeout(function(){
            window.location = "/"+username+"/profile"
          }, 2000)
        }
      })
    }

    jQuery(function(){
      var params = {}
      var paths = window.location.pathname.split('/')
      var queryparts = window.location.href.split('?')[1]
      if(queryparts) {
        absorb(params, queryparts)
      }
      params.username = paths[1]

      var start, stop
      if(params.start) {
        start = new XDate(params.start)
      }
      if(params.stop) {
        stop = new XDate(params.stop)
      }

      var center_of_america = [39.8, -98.5]
      map.setup(center_of_america, 3)

      $('.mapdecor .username').html(params.username)
      $('.mapdecor .userlink').attr('href', "/"+params.username+"/profile")
      iceCondor.on('heartbeat', function(beat){
        var point_date_html = '<time datetime="'+beat.date+'" data-format="yyyy-MMM-d hh:mmtt"/>'
        $('#points').append('<li> heartbeat '+point_date_html+'</li>')
      })

      // adjust map height after status bar has been populated
      $("#map").height($(window).height()-$('.navbar').height()-$('#status').height()-10);
      map.resize()

      var action = getKey() ? 'auth' : 'hello'
      iceCondor.on(action, function(logged_in_user){
        startFollow(params.username, start, stop)
      })
      iceCondor.connect()
    })

    function absorb(hash, qstr) {
      var pieces = qstr.split('&')
      pieces.forEach(function(kv){
        kv = kv.split('=')
        hash[kv[0]] = kv[1]
      })
    }
