div.navbar
  a.logo(href="/")
    img(src="/assets/logo.svg")
  ul.menu
    li
      a(href="/") Map
    li
      a(href="/fence") Friends

  div.farright
    div.hamburger
      svg(width="30" height="30" id="icoOpen")
        path(d="M0,5 30,5" stroke="#fff" stroke-width="5")
        path(d="M0,14 30,14" stroke="#fff" stroke-width="5")
        path(d="M0,23 30,23" stroke="#fff" stroke-width="5")

    div.login_box
      form.token_email
        input#login(type="email" placeholder="email address" name="email")
        button(type="submit") Sign in

script.
  $(function(){
    $('.token_email').submit(function(evt){
      doTokenRequest(evt.target)
      evt.preventDefault()
    })
  })