div.navbar
  a.logo(href="/")
    img(src="/assets/logo.svg")
  ul.menu
    li
      a(href="/") Map
    li
      a(href="/fence") Friends

  div.login_box
    form.token_email
      input#login(type="email" placeholder="email address" name="email")
      button(type="submit") Sign in

script.
  $(function(){
    $('.token_email').submit(function(evt){
      doTokenRequest(evt.target)
      evt.preventDefault()
    })
  })