div.navbar
  a.logo(href="/")
    img(src="/assets/logo.svg")
  ul.menu
    li
      a(href="/") Map
    li
      a(href="/fence") Friends

  div.login_box(style='float: right')
    input#login(onclick="doLogin")
