div.navbar.flexbox
  div.flexbox.left
    a.logo.inline(href="/")
      img(src="/assets/logo.svg")
    div.inline
      | IceCondor

    ul.inline-menu.inline#navmenu

  div.flexbox.right
    div.username.inline
    div.hamburger.hidden
      svg(width="30" height="30" id="icoOpen")
        path(d="M0,5 30,5" stroke="#fff" stroke-width="5")
        path(d="M0,14 30,14" stroke="#fff" stroke-width="5")
        path(d="M0,23 30,23" stroke="#fff" stroke-width="5")

    div.login_box.inline
      form.token_email
        input#login(type="email" placeholder="email address" name="email")
        button(type="submit") Sign in

script.
  $(function(){
    $('.token_email').submit(function(evt){
      emailTokenRequest(evt.target)
      evt.preventDefault()
    })
    $('.hamburger').click(function(evt){
      showLogin()
    })
    if(getKey()) {
      $('.login_box').css('display','none')
      $('.hamburger').css('display','none')
    }
  })

  function showLogin(){
    $('.hamburger').css('display','none')
    $('.login_box').css('display','inline-block')
  }

