extends layout

block head
  script(src='//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.js')
  link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css")

block content

  div.page-profile

    div.photo
      img

    div.detail-row.flexbox
      span.username

      span.friends.hidden
        span.friend-count
        | friends

    div.sharing.hidden
      span.username
      = ' '
      | is sharing their location with you.

    div.notfound.hidden
      p Not Found

    div.friending.hidden
      button.accept Share my location

    div.friending-already.hidden
      p
        | Your location is being shared with
        = ' '
        span.username

  script.
    jQuery(function(){
      var params = window.location.pathname.split('/')
      var username = params[1]

      $('.page-profile .username').html(username)
      iceCondor.on('noauth', function(){
        var detail_tx = iceCondor.api('user.detail', {username: username})
        iceCondor.onResponse(detail_tx, function(other){
          fill_in(other)
        })
      })

      iceCondor.on('auth', function(user){
        var detail_tx = iceCondor.api('user.detail', {username: username})
        iceCondor.onResponse(detail_tx, function(other){
          fill_in(other)
          var me_tx = iceCondor.api('user.detail')
          iceCondor.onResponse(me_tx, function(me){
            if(other.friends.indexOf(me.id) > -1) {
              $('.sharing').show()
            }

            if(other.id == me.id) {
              $('.friends').show()
            } else {
              sharing_buttons(me, other)
            }
          })
        }, function(err){
          $('.notfound').show()
        })
      })

      iceCondor.connect()

    })

    function fill_in(user) {
      if(user.email){
        $('.page-profile .photo img').attr('src', 'http://www.gravatar.com/avatar/'+md5(user.email)+'?size=250')
      }else {
        $('.page-profile .photo img').width(250)
        $('.page-profile .photo img').attr('src', '/assets/logo.svg')
      }
      $('.page-profile .friend-count').html(user.friends.length)
    }

    function sharing_buttons(me, other) {
      if(me.friends.indexOf(other.id) > -1) {
        $('.friending-already').show()
      } else {
        $('.friending').show()
        $('button.accept').click(function(evt){
          var friend_tx = iceCondor.api('user.friend', {username: other.username})
          iceCondor.onResponse(friend_tx, function(resp){
            $('.friending').hide()
            $('.friending-already').show()
          })
        })
      }
    }
