extends layout

block head
  script(src='//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.js')
  link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css")

block content

  div.page-profile

    div
      span.username

    div.friending.hidden
      button.friend Request share

    div.offer.hidden
      span.username
      | has offered to share their location
      button.accept Accept
      button.ignore Ignore

  script.
    jQuery(function(){
      var params = window.location.pathname.split('/')
      var username = params[1]
      iceCondor.on('auth', function(user){

        var detail_tx = iceCondor.api('user.detail', {username: username})
        iceCondor.onResponse(detail_tx, function(other){
          fill_in(other)
          var me_tx = iceCondor.api('user.detail')
          iceCondor.onResponse(me_tx, function(me){
            if(other.friend_requests.indexOf(me.username)) {
              $('.offer').show()
            } else {
              $('.friending').show()
            }
          })
        })
      })

      iceCondor.connect()

    })

    function fill_in(user) {
      $('.username').html(user.username)
      $('button.accept').click(function(evt){
        var friend_tx = iceCondor.api('user.friend', {usename: user.username})
        iceCondor.onResponse(friend_tx, function(resp){
          console.log('accepted', resp)
        })
      })
    }
