extends layout

block head
  script(src='//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.js')
  link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css")

block content

  div.page-profile

    div
      span.username

    div.friending.hidden
      button.accept Request share

    div.friending-confirm.hidden
      p Sharing requested

    div.offer.hidden
      span.username
      | has offered to share their location
      button.accept Accept
      button.ignore Ignore

  script.
    jQuery(function(){
      var params = window.location.pathname.split('/')
      var username = params[1]
      iceCondor.on('auth', function(user){

        var detail_tx = iceCondor.api('user.detail', {username: username})
        iceCondor.onResponse(detail_tx, function(other){
          fill_in(other)
          var me_tx = iceCondor.api('user.detail')
          iceCondor.onResponse(me_tx, function(me){
            if(me.friend_requests.indexOf(other.id) > -1) {
              $('.friending-already').show()
            } else {
              if(other.friend_requests.indexOf(me.id) > -1) {
                $('.friending-confirm').show()
              } else {
                $('.friending').show()
              }
              $('button.accept').click(function(evt){
                var friend_tx = iceCondor.api('user.friend', {username: username})
                iceCondor.onResponse(friend_tx, function(resp){
                  console.log('accepted', resp)
                })
              })
            }
          })
        })
      })

      iceCondor.connect()

    })

    function fill_in(user) {
      $('.page-profile .username').html(user.username)
    }
