extends layout

block head
  script(src='//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.js')
  link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css")

block content
  include navbar

  div.page-user
    div
      | Map for
      = ' '
      span.username

    div.mapdecor
      div#status
        | Last Point
      div#map

    ul#points
      li points

  script.
    jQuery(function(){
      var username = window.location.pathname.split('/')[1]
      $('.username').html(username)
      iceCondor.setup("key").then(function(){
        iceCondor.on('hello', function(point){
          $('.logo').css('background-color','grey')
        })
        iceCondor.on('gps_point', function(point){
          $('#points').append('<li>'+JSON.stringify(point)+'</li>')
        })
        iceCondor.follow(username)
      })
      map_leaflet.setup({coordinates:[-122,45]}, 6)
    })
