extends layout

block head
  script(src='//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.js')
  link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css")

block content

  div.page-user
    div
      | Map for
      = ' '
      span.username

    div.maprow
      ul.friends.sidesquare
        lh Friends
        li bob
        li sally
        li mary sue
        li hank
        li earl
      div.mapdecor.sidesquare
        div#status
          | Last Point
          span#last_point
        div#map
      ul.fences.sidesquare
        lh Fences
        li Home
        li Work
        li Bars
        li Pools

      ul#points
        li points

  script.
    jQuery(function(){
      var username = window.location.pathname.split('/')[1]
      $('.username').html(username)
      iceCondor.on('hello', function(point){
        $('.logo').css('background-color','grey')
      })
      iceCondor.on('gps_point', function(point){
        $('#points').append('<li>Point <time datetime="'+point.date+'" data-format="yyyy-MMM-d hh:mmtt"/></li>')
        time_fixups()
        var pt = [point.latitude, point.longitude]
        L.marker(pt).addTo(map_leaflet.map)
        map_leaflet.map.panTo(pt)
        map_leaflet.map.setZoom(17)
      })
      iceCondor.setup("key").then(function(){
        iceCondor.follow(username)
      })
      $("#map").height($(window).height()*0.75);
      map_leaflet.setup({coordinates:[-98.5,39.8]}, 3)
    })
