extends layout

block head
  script(src='//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.js')
  link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css")

block content

  div.page-user

    div.mapdecor
      div#status
        table
          tr
            td Username
            td Last position at
            td Points
          tr
            td
              span.username
            td
              span#last_point
            td
              span#point_count
      div#map

  script.
    jQuery(function(){
      var params = window.location.pathname.split('/')
      var username = params[1]
      var day = params[2]

      $("#map").height($(window).height()*0.65);
      var center_of_america = [39.8, -98.5]
      map.setup(center_of_america, 3)

      $('.mapdecor .username').html(username)
      iceCondor.on('hello', function(point){
        $('.logo img').css('opacity','1.0')
        iceCondor.auth(getKey())
      })
      iceCondor.on('heartbeat', function(beat){
        var point_date_html = '<time datetime="'+beat.date+'" data-format="yyyy-MMM-d hh:mmtt"/>'
        $('#points').append('<li> heartbeat '+point_date_html+'</li>')
      })
      iceCondor.setup().then(function(){
        var today = new XDate().addDays(-1)
        if(day) { today = new XDate(day) }
        var follow_tx = iceCondor.api('stream.follow', {username: username,
                                                        start:today.toISOString(),
                                                        count: 300})
        iceCondor.onResponse(follow_tx, function(msg){
          console.log('setting up stream listener for '+msg.stream_id)
          map.addTrack(msg.stream_id, username)
          iceCondor.onResponse(msg.stream_id, function(location){
            map.addPointToTrack(msg.stream_id, location)
          })
        })
      })
    })
