extends layout

block head
  script(src='//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.js')
  link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css")

block content

  div.page-user

    div.mapdecor
      div#status
        span.username
        = ' '
        | last position at
        = ' '
        span#last_point
      div#map

    ul#points
      li points

  script.
    jQuery(function(){
      var last_point
      var username = window.location.pathname.split('/')[1]
      $('.mapdecor .username').html(username)
      iceCondor.on('hello', function(point){
        $('.logo img').css('opacity','1.0')
      })
      iceCondor.on('heartbeat', function(beat){
        var point_date_html = '<time datetime="'+beat.date+'" data-format="yyyy-MMM-d hh:mmtt"/>'
        $('#points').append('<li>'+point_date_html+'</li>')
      })
      iceCondor.on('location', function(point){
        var point_date_html = '<time datetime="'+point.date+'" data-format="yyyy-MMM-d hh:mmtt"/>'
        if( typeof last_point == 'undefined' || last_point.date < point.date) {
          console.log('setting '+point.date)
          last_point = point
          $('#last_point').html(point_date_html)
        }
        $('#points').append('<li>'+point_date_html+'</li>')
        time_fixups()
        var pt = [point.latitude, point.longitude]
        L.marker(pt).addTo(map_leaflet.map)
        map_leaflet.map.panTo(pt)
        map_leaflet.map.setZoom(16)
      })
      iceCondor.setup(getKey()).then(function(){
        iceCondor.follow(username)
      })
      $("#map").height($(window).height()*0.65);
      map_leaflet.setup({coordinates:[-98.5,39.8]}, 3)
    })
