extends /layout

block content
  div.page-page.blog-page
    div.article-head
      h1 Access Links
      div.attribution
        span.date 2015-Feb-23 Don Park

    p.
      IceCondor accounts now have the option to share location using a simple URL.
      The recipient only needs the URL to view your location. A URL can be time limited
      and can be turned off at any time.

    p(style="width:80%;margin: auto")
      img(src="/assets/blog/2015/02/23/access-links-list.png")

    p.
      The URL loads a map that show the most recent location of the IceCondor account.
      Its been tested with desktop, Android, and iPhone browsers.