extends /layout

block content
  div.page-page.page-terms-of-service
    h2 Terms of Service
    p.
      IceCondor is a service for recording and sharing location data. Its parts
      include the web site, mobile phone apps, server software, and recorded data.
    p.
      By using IceCondor("the service"), you("the user") agree to be bound by the following terms.

    ul
      li
        h3 Data Privacy
        p.
          Location information is private to the user. The user indicates though
          friending of accounts and other forms of permission-granting what data is revealed
          to other users. Data is accessable to authorized users through the web site and
          API access. In rare events in support of the service, internal employee
          access to user data may be necessary.

      li
        h3 Data License
        p.
          All content submitted by a user to the service grants a non-exclusive, perpetual,
          royalty-free license for the service to publish, modify, and reproduce the content
          in support of the service.

      li
        h3 Best-Effort Service
        p.
          The service is provided on an as-is and best-effort basis. No warranty or guarantee
          of any kind is made. The user agrees to indemnify and hold harmless the company,
          its directors, employees, agents, and partners.

    p.
      This agreement is governed by the laws of the state of Oregon and the United States of America.
    p Last updated 21-Nov-2014
