extends /layout

block content
  div.page-page.blog-page
    div.article-head
      h1 Selective location sharing with privacy fences.
      div.attribution
        span.date 2015-Jun-15 Don Park

    p.
      In addition to location recording, IceCondor supports location sharing. Adding
      a friend in IceCondor gives access to your location with restriction, until now.


    p.
      For sensitive locations, an area can be defined, called a Fence, that says
      when inside this area, show the fence outline instead of the current location.

    p.
      Here's an example: the left image is normal location sharing. the right image
      has a fence defined around the area. The exact locations inside the fence are
      hidden, and the outline of the fence is highlighted.

    p(style="width:80%;margin: auto")
      a(href="/assets/blog/2015/06/15/fence-left-right.png")
        img(src="/assets/blog/2015/06/15/fence-left-right.png")

    p.
      How to create a privacy fence in two easy steps. First create a fence
      under the "Fences" menu. Define the area and shape of the fence.
      Then go to the "Rules" menu and use the 'Create rule' section at the
      bottom of the page. Select the fence to use and press 'Create rule'.
