extends /layout

block content
  div.page-page.blog-page
    div.article-head
      h1 Download your location data.
      div.attribution
        span.date 2015-Jun-25 Don Park

    p.
      A new feature has been added to icecondor.com. Your entire location
      history can be downloaded in one file under the "Data" menu.


    p(style="width:80%;margin: auto;")
      a(href="/assets/blog/2015/06/25/download-gpx.png")
        img(src="/assets/blog/2015/06/25/download-gpx.png")

    p.
      Use the 'Request GPX Data' to have a .gpx file built with all your location
      data. It takes a few minutes to build the file. When its done the
      link will show up on the page, and you'll receive an email as well.