extends /layout

block content
  div.page-page.page-blog-list
    h1 IceCondor Blog

    ul
      li
        a(href='/b/2015/02/23/access-links') 2015-Feb-23: Access Links
      li
        a(href='/b/2014/12/12/history-control') 2014-Dec-12: History Control
      li
        a(href='/b/2014/11/21/why-icecondor') 2014-Nov-21: Why Icecondor
