extends /layout

block content
  div.page-page.page-blog-list
    h1 IceCondor Blog

    ul.articles
      li
        a(href='/b/2015/02/23/access-links')
          div.summary
            | Quick, temporary location sharing with access links.
        div
          | Feb 23, 2015 by Don Park
      li
        a(href='/b/2014/12/12/history-control')
          div.summary
            | View location history with the new date control.
        div
          | Dec 12, 2014 By Don Park
      li
        a(href='/b/2014/11/21/why-icecondor')
          div.summary
            | Comparing IceCondor to other services in 2014.
        div
          | Nov 21, 2014 By Don Park
