div.navbar.dark-links
  div.flexbox
    div.flexbox
      a.logo.inline(href="/")
        img(src="/assets/logo.svg")
      div.inline
        a.logo.inline(href="/")
          | IceCondor

      ul.inline-menu.inline#navmenu

    div.flexbox
      div.userarea.hidden
        div.menurow
          div.username
          div.hamburger
            svg(width="100%" height="100%" viewbox="0 0 23 30" id="icoOpen")
              path(d="M0,5 30,5" stroke="#fff" stroke-width="5")
              path(d="M0,14 30,14" stroke="#fff" stroke-width="5")
              path(d="M0,23 30,23" stroke="#fff" stroke-width="5")
        ul.menu.hidden
          li.map
            a(href="#") Map
          li.profile
            a(href="#") Profile
          li.data
            a(href="#") Data
          li.access
            a(href="#") Access
          li.devices
            a(href="#") Devices
          li.fences
            a(href="#") Fences
          li.rules
            a(href="#") Rules
          li.billing
            a(href="#") Billing
          li.logout
            a(href="/") Logout


      div.widescreen
        div.login_box.inline
          form.token_email
            input#login(type="email" placeholder="email address" name="email")
            button(type="submit") Sign in

script.
  $(function(){
    $('.token_email').submit(function(evt){
      evt.preventDefault()
      var form = evt.target
      var email = form.elements.email.value
      form.elements.email = ""
      return iceCondor.connect().then(function(){
        var email_tx = iceCondor.api('auth.email', {email: email, device_id: "browser"})
        iceCondor.onResponse(email_tx, function(msg){
          $('.login_box').html('email sent.')
          iceCondor.emit({method: 'email', params: {email: email}})
          console.log(msg)
        })
      })
    })
    $('.menu .logout').click(function(evt){
      clearKey()
      window.location = "/"
    })
    if(getKey()) {
      $('.login_box').addClass('hidden')
    }
    $('.navbar .menurow').click(function(evt){
      $('.navbar .menu').toggleClass('hidden')
      evt.preventDefault()
    })
  })

  function showLogin(){
    $('.widescreen').css('display', 'block')
    $('.navbar .flexbox').css('display', 'block')
    $('.login_box').css('display', 'flexbox')
  }

