extends layout

block head
  script(src='https://checkout.stripe.com/checkout.js')

block content
  div.page-billing
    div.section-spacer
      div.user
        span.label Username:
        span.username

      div.status
        span.label Status:
        span.account

    div.section-spacer.levels-pitch
      h2 Account Levels
      div.levels.flexbox
        div.pitch
          div Feature
          ul
            li(style="font-weight:bold") Location History
        div.pitch
          div.pitch-head Basic Account
          ul
            li 2 Hours
        div.pitch
          div.pitch-head Extra Account
          ul
            li
              | Account lifetime

    div.section-spacer.checkout.hidden
      div Purchase Extra Account Time:
      div.vertical-spacer
        div
          | Add one month of extra account time til
          span.adddate#add3mo
          | for $3.
        button#premium1 Add 1 Month for $3
      div.vertical-spacer
        div
          | Add six months of extra account time til
          span.adddate#add6mo
          | for $15.
        button#premium6 Add 6 Months for $15

  script.
    var product_id
    jQuery(function(){
      statusTab('Connecting')
      iceCondor.on('auth', function(user){
        var me_tx = iceCondor.api('user.detail')
        iceCondor.onResponse(me_tx, function(me) {
          statusTab('')
          stripe(me.email)
          billing_status(me)
        })
      })

      if(getKey()){
        iceCondor.connect()
      } else {
        window.location = "/"
      }
    })

    function stripe(email) {
      var handler = StripeCheckout.configure({
        key: 'pk_Wr9j79OEQc2KYvZyEfbvWGfRjmVo1',
        image: '/assets/logo.svg',
        email: email,
        token: function(token) {
          /*token  { id: "tok_6AIUbaiRbIF",
                     livemode: false,
                     created: 1416262966,
                     used: false,
                     object: "token",
                     type: "card",
                     card: Object,
                     email: "nobody@email.com",
                     amount: 0,
                     currency: "usd" } */
          var pay_tx = iceCondor.api('user.payment', {token: token.id,
                                                      product: product_id})
        }
      });

      document.getElementById('premium1').addEventListener('click', function(e) {
        // Open Checkout with further options
        product_id = "ex1mo"
        handler.open({
          name: 'IceCondor Premium Service',
          description: '1 month non-recurring ($3.00)',
          amount: 300
        });
        e.preventDefault();
      });
      document.getElementById('premium6').addEventListener('click', function(e) {
        // Open Checkout with further options
        product_id = "ex6mo"
        handler.open({
          name: 'IceCondor Premium Service',
          description: '6 months non-recurring ($15.00)',
          amount: 1500
        });
        e.preventDefault();
      });
    }

    function billing_status(user) {
      $('.page-billing .username').html(user.username)
      var account
      var extra_date
      if(user.level) {
        if(user.level.extra) {
          var date = new Date(user.level.extra)
          if(date > Date.now()) {
            extra_date = new XDate(date)
          }
        }
      }

      if(extra_date) {
        account = "Extra account until "+extra_date.toString("yyyy-MMM-dd")
      } else {
        extra_date = new XDate()
        account = "Basic account"
        $('.extra-pitch').removeClass('hidden')
      }

      var add3mo = extra_date.addMonths(1).toString("yyyy-MMM-dd")
      $('#add3mo').html(add3mo)
      var add6mo = extra_date.addMonths(6).toString("yyyy-MMM-dd")
      $('#add6mo').html(add6mo)

      $('.page-billing .status .account').html(account)
      $('.checkout').removeClass('hidden')
    }
