extends layout

block content

  div.page-dashboard
    div.dashboard.hidden
      | Dashboard
      = ' '
      span.username

    div.splash.hidden
      div.banner
        | Welcome to IceCondor
      div.intro
        | IceCondor provides all-day cell-phone location recording and sharing.
      div.signin
        | Please sign in below or #[a(href='https://play.google.com/store/apps/details?id=com.icecondor.nest') install the app] to begin.
      div.login_box.inline
        form.token_email
          input#login(type="email" placeholder="email address" name="email")
          button(type="submit") Sign in


      div.email-sent.hidden
        p
          | A login token has been sent to your email.
        p
          | Please click on the link in the email to continue.
      div.twologo.flexbox
        div.widescreen.logo
          img(src="/assets/logo.svg")
        div.smallscreen
          a(href="https://play.google.com/store/apps/details?id=com.icecondor.nest")
            img(src="/assets/screenshot-mobile.png")
        div.widescreen
          a(href="https://play.google.com/store/apps/details?id=com.icecondor.nest")
            img(src="/assets/screenshot.png")
        div.widescreen.android
          a(href="https://play.google.com/store/apps/details?id=com.icecondor.nest")
            img(src="/assets/android.svg")
            br
            img(alt="Android app on Google Play"
                src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png")

  script.
    jQuery(function(){
      if(getKey()){
        statusTab("Connecting")
        iceCondor.on('auth', function(auth_user){
          statusTab()
          $('.dashboard').show()
          var detail_tx = iceCondor.api('user.detail')
          iceCondor.onResponse(detail_tx, function(user){
            window.location = "/"+auth_user.user.username
            //dashboard_detail(user)
          })
        })
        iceCondor.on('noauth', function(auth_user){
          statusTab("Bad auth")
          setTimeout(function(){statusTab()}, 1000)
          $('.splash').removeClass('hidden')
          $('.login_box').removeClass('hidden')
        })
      } else {
        $('.splash').removeClass('hidden')
      }
      iceCondor.on('email', function(sent){
        $('.signin').hide()
        $('.email-sent').show()
      })

      iceCondor.connect()

    })

    function dashboard_detail(user) {
      $('.page-dashboard .username').html('<a href="/'+user.username+'">'+user.username+'</a>')
    }
