extends layout

block head
  script(src='//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.js')
  link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css")

block content

  div.page-profile

    div.detail-row

      div.detail-top
        div.photo
          img
        div.username
        div.userdetail
          template#basic.hidden
            div.member-since
              | member since:
              time(datetime="{{created_at}}" data-format="yyyy-MMM-d")
          template#full.hidden
            div.friendcount
              | friending: {{friends.length}}
            div.friendcount
              | friending me: {{friending.length}}
          template#locations.hidden
            | locations
            div.lcount.leftindent
              | count: {{location_stats.count}}
              div.lcountfirstlast.hidden
                | first: {{location_stats.first_date}}
                | last: {{location_stats.last_date}}

      div.detail-bottom

        div.sharing.hidden
          span.username
          = ' '
          | is sharing their location with you.

        div.error.hidden
          p

        div.friending.hidden
          button.accept Share my location

        div.friending-already.hidden
          p
            | Your location is being shared with
            = ' '
            span.username
            = '.'

  script.
    jQuery(function(){
      statusTab('Connecting')

      var params = window.location.pathname.split('/')
      var username = params[1]

      $('.page-profile .username').html(username)
      iceCondor.on('noauth', function(){
        var detail_tx = iceCondor.api('user.detail', {username: username})
        iceCondor.onResponse(detail_tx, function(other){
          statusTab()
          fill_in(other)
        }, err_display)
      })

      iceCondor.on('auth', function(user){
        statusTab('Loading '+username)
        var detail_tx = iceCondor.api('user.detail', {username: username})
        iceCondor.onResponse(detail_tx, function(other){
          statusTab()
          fill_in(other)
          var me_tx = iceCondor.api('user.detail')
          iceCondor.onResponse(me_tx, function(me){
            if(other.friends.indexOf(me.id) > -1) {
              $('.sharing').show()
            }

            if(other.id == me.id) {
              $('.friends').show()
            } else {
              sharing_buttons(me, other)
            }
          })
        }, err_display)
      })

      iceCondor.connect()

    })

    function fill_in(user) {
      user.created_at = user.created_at || '' //hack
      $('.page-profile .photo img').attr('src', user.photo+'?size=250')
      var el = $('template#basic')
      el.after(uStache.compile(el.html())(user))// template singleton
      if(user.email) {
        var el = $('template#full')
        el.after(uStache.compile(el.html())(user))// template singleton
        if(user.location_stats.first_date) {
          $('.lcountfirstlast').removeClass('hidden')
        }
      }
      time_fixups('.page-profile')
    }


    function sharing_buttons(me, other) {
      if(me.friends.indexOf(other.id) > -1) {
        $('.friending-already').show()
      } else {
        $('.friending').show()
        $('button.accept').click(function(evt){
          var friend_tx = iceCondor.api('user.friend', {username: other.username})
          iceCondor.onResponse(friend_tx, function(resp){
            $('.friending').hide()
            $('.friending-already').show()
          })
        })
      }
    }

    function err_display(err) {
      statusTab()
      $('.error').show()
      $('.error p').html(err.message)
    }
