extends /layout

block content
  div.page-page.blog-page
    div.article-head
      h1 History Control
      div.attribution
        span.date 2014-Dev-12 Don Park

    p.
      The map page for IceCondor users now has a simple history control.

    img(src="/assets/blog/2014/12/12/history-control-map-head.png")

    p.
      The drop-down controls determine which day's history is presented on the map. Want to
      know where you were on Halloween (Oct 31) or the 4th of July or your birthday? Slide
      the controls and see that day's map.
