extends /layout

block content
  div.page-page.page-developer
    | API Access

    div
      | Developer documentation is on the
      = ' '
      a(href="https://github.com/icecondor/api/wiki/api-v2") github wiki
